[class*="col"] {
  width: 100%;
}

@media screen and (min-width: 720px) {
  .col-md-1 {
    width: 8.33333333%; /*1/12*/
  }
  .col-md-2 {
    width: 16.66666667%; /*2/12*/
  }
  .col-md-3 {
    width: 25%; /*3/12*/
  }
  .col-md-4 {
    width: 33.33333333%; /*4/12*/
  }
  .col-md-5 {
    width: 41.66666667%; /*5/12*/
  }
  .col-md-6 {
    width: 50%; /*6/12*/
  }
  .col-md-7 {
    width: 58.33333333%; /*7/12*/
  }
  .col-md-8 {
    width: 66.66666667%; /*8/12*/
  }
  .col-md-9 {
    width: 75%; /*9/12*/
  }
  .col-md-10 {
    width: 83.33333333%; /*10/12*/
  }
  .col-md-11 {
    width: 91.66666667%; /*11/12*/
  }
  .col-md-12 {
    width: 100%; /*12/12*/
  }
}

@media screen and (min-width: 950px) {
  .col-lg-1 {
    width: 8.33333333%; /*1/12*/
  }
  .col-lg-2 {
    width: 16.66666667%; /*2/12*/
  }
  .col-lg-3 {
    width: 25%; /*3/12*/
  }
  .col-lg-4 {
    width: 33.33333333%; /*4/12*/
  }
  .col-lg-offset-4 {
    margin-left: 33.33333333%; /*4/12*/
  }

  .col-lg-5 {
    width: 41.66666667%; /*5/12*/
  }
  .col-lg-6 {
    width: 50%; /*6/12*/
  }
  .col-lg-7 {
    width: 58.33333333%; /*7/12*/
  }
  .col-lg-8 {
    width: 66.66666667%; /*8/12*/
  }
  .col-lg-9 {
    width: 75%; /*9/12*/
  }
  .col-lg-10 {
    width: 83.33333333%; /*10/12*/
  }
  .col-lg-11 {
    width: 91.66666667%; /*11/12*/
  }
  .col-lg-12 {
    width: 100%; /*12/12*/
  }
}

@media screen and (min-width: 1200px) {
  .col-xl-1 {
    width: 8.33333333%; /*1/12*/
  }
  .col-xl-2 {
    width: 16.66666667%; /*2/12*/
  }
  .col-xl-3 {
    width: 25%; /*3/12*/
  }
  .col-xl-4 {
    width: 33.33333333%; /*4/12*/
  }
  .col-xl-5 {
    width: 41.66666667%; /*5/12*/
  }
  .col-xl-6 {
    width: 50%; /*6/12*/
  }
  .col-xl-7 {
    width: 58.33333333%; /*7/12*/
  }
  .col-xl-8 {
    width: 66.66666667%; /*8/12*/
  }
  .col-xl-9 {
    width: 75%; /*9/12*/
  }
  .col-xl-10 {
    width: 83.33333333%; /*10/12*/
  }
  .col-xl-11 {
    width: 91.66666667%; /*11/12*/
  }
  .col-xl-12 {
    width: 100%; /*12/12*/
  }
}

* {
  padding: 0;
  margin: 0;
}
[class*="col-"] {
  float: left;
}

[class*="col-"]:nth-child(1) {
  background-color: #ffa8a8;
}
[class*="col-"]:nth-child(2) {
  background-color: #854444;
}
[class*="col-"]:nth-child(3) {
  background-color: #979448;
}
[class*="col-"]:nth-child(4) {
  background-color: #448560;
}
[class*="col-"]:nth-child(5) {
  background-color: #445185;
}
[class*="col-"]:nth-child(6) {
  background-color: #584485;
}
[class*="col-"]:nth-child(7) {
  background-color: rgb(120, 68, 133);
}
[class*="col-"]:nth-child(8) {
  background-color: #44854c;
}
[class*="col-"]:nth-child(9) {
  background-color: #892b2b;
}
[class*="col-"]:nth-child(10) {
  background-color: #748544;
}
p {
  text-align: center;
}
